{% extends "base.html" %}
{% load staticfiles %}
{% block main_content %}
<section class="content">
   <div class="row">
      <div class="col-xs-12">
         <div class="box">
            <div class="box-header">
               <a href="{% url 'interface:downloadCsvFile' %}" target="_blank"><div class="btn btn-success" style="float:right;margin-right:2%;"> Download</div></a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               <table id="example1" class="table table-bordered table-striped">
                  <thead>
                     <tr>
                        <th>Plant Name</th>
                        <th>Beat ID</th>
                        <th>State</th>
                        <th>District</th>
                        <th>Plant Type</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for obj in object_list %}
                     <tr>
                        <td>{{ obj.plantae.scientific_name }}</td>
                        <td>{{ obj.beat }}</td>
                        <td>{{ obj.state }}</td>
                        <td> {{ obj.district }}</td>
                        {% if obj.ptype == "SB" %}
                           <td> Seed Bearing </td>
                        {% elif obj.ptype == "IT" %}
                           <td> Ingeneous Tree </td>
                        {% else %}
                           <td> Indegenous Patch </td>
                        {% endif %}
                     </tr>
                     {% endfor %} 
                  </tbody>
               </table>
               <div class="col-sm-5" style="margin-top:30px">
                  <span class="current">
                  Showing Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
               </div>
               <div class="col-sm-7">
                  <div class="dataTables_paginate paging_simple_numbers">
                     <ul class="pagination" style="float:right;">
                        {% if page_obj.has_previous %}
                        <li class="paginate_button previous" id="example1_previous">
                           <a href="?page={{ page_obj.previous_page_number }}" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                        </li>
                        {% else %}
                        <li class="paginate_button previous disabled" id="example1_previous">
                           <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                        </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li class="paginate_button next" id="example1_next">
                           <a href="?page={{ page_obj.next_page_number }}" aria-controls="example1" data-dt-idx="1" tabindex="0">Next</a>
                        </li>
                        {% else %}
                        <li class="paginate_button next disabled" id="example1_next">
                           <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">Next</a>
                        </li>
                        {% endif %}
                     </ul>
                  </div>
               </div>
         
            </div>
            <!-- /.box-body -->
         </div>
      </div>
   </div>
</section>
{% endblock%}